@using (Html.BeginForm("SearchBooks", "Guest", FormMethod.Get))
{
    <div class="search-bar">
        <input type="text" name="query" placeholder="Search for books..." />
        <button type="submit">Search</button>
    </div>
}
